<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ASME_C_WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ASME_C_WPF.Properties.Settings.DataSourceConnectionString"
            connectionString="Data Source=localhost\SQLEXPRESS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ASME_C_WPF.Properties.Settings.DataSourceConnectionString1"
            connectionString="Data Source=DESKTOP-RRU5OR4\SQLEXPRESS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ASME_C_WPF.Properties.Settings>
            <setting name="Active_user" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="tax_ppn" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Initial_month" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="Initial_year" serializeAs="String">
                <value>2016</value>
            </setting>
            <setting name="Client_Name" serializeAs="String">
                <value>ASME Coffeeshop</value>
            </setting>
        </ASME_C_WPF.Properties.Settings>
    </userSettings>
</configuration>